<!doctype html>
<html>
  <head>
    <title>bpmn-viewer demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../bpmn-viewer.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

      <h3>Basic bpmn-viewer Demo</h3>
      <demo-snippet>
        <template>
            <bpmn-viewer style="height: 400px;" src="samples/userregistration.bpmn"></bpmn-viewer>
        </template>
      </demo-snippet>

  </body>
</html>
;
